# DB use for docker-compose
POSTGRES_DB=myapp
POSTGRES_USER=postgres
POSTGRES_PASSWORD=yourpassword
DATABASE_URL=postgresql+asyncpg://postgres:yourpassword@db:5432/myapp

upload_DIR=/tmp

GEMINI_API_KEY=
SECRET_KEY=YOUR_SECRET_KEY
